<div name="variant-selector" class="variant-selector">
  <h3>SELECT A SIZE</h3>
  <div class="variant-options">
    {% for variant in product.variants %}
      <span
        value="{{ variant.id }}"
        class="variant-item"
        onclick="quickAddToCart({{ variant.id }});"
      >
        {{ variant.title | slice: 3, 2 }}
      </span>
    {% endfor %}
  </div>
</div>
