<div class="password-section">
  <div class="password-column">
    <img
      src="https://cdn.shopify.com/s/files/1/0821/5252/2010/files/BABYGIRL_480x.png?v=1694752283"
      srcset="https://cdn.shopify.com/s/files/1/0821/5252/2010/files/BABYGIRL.png?v=1694752283 1536w"
      width="1157"
      height="309"
      sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, calc(100vw/3)"
      loading="lazy"
      data-pf-type="Image3"
      class="password-logo"
    >
    <div class="password-slideshow">
      {% for block in section.blocks %}
        <div class="password-slide fade">
          {{ block.settings.image | image_url: width: 150 | image_tag }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="password-column">
    <div class="password-form">
      <h3>get early access to our upcoming releases 1 hour before everyone else</h3>
      <div class="password-countdown">
        <div class="d">
          <span class="countdown-number">00</span>
          <label class="countdown-label">DAYS </label>
        </div>
        <div class="countdown__colon"><span>:</span></div>
        <div class="h"><span class="countdown-number">00</span><label class="countdown-label">HOURS </label></div>
        <div class="countdown__colon"><span>:</span></div>
        <div class="m"><span class="countdown-number">00</span><label class="countdown-label">MINS </label></div>
        <div class="countdown__colon"><span>:</span></div>
        <div class="s"><span class="countdown-number">00</span><label class="countdown-label">SECS </label></div>
      </div>
      <div data-pf-type="Block" class="ps__subscribe-form">
        <div data-pf-type="Custom.HTML" class="pf-27_" store="[object Object]">
          <div style="width: 100%">
            <div>
              <script
                type="text/javascript"
                src="https://forms-akamai.smsbump.com/710859/form_245011.js?ver=1696715021"
              ></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }

  @font-face {
    font-family: 'Obviously-Extended Bold';
    src: url(./font/Obviously-Bold.otf);
  }

  @font-face {
    font-family: 'Obviously-Extended Bold';
    src: url(https://cdn.shopify.com/s/files/1/0821/5252/2010/files/Obviously-Extended_Bold.woff2?v=1694821317);
  }
  @font-face {
    font-family: 'Obviously-Extended Semibold';
    src: url(https://cdn.shopify.com/s/files/1/0821/5252/2010/files/Obviously-Extended_Semibold.woff2?v=1694821318);
  }
  @font-face {
    font-family: 'Obviously-Extended Medium';
    src: url(https://cdn.shopify.com/s/files/1/0821/5252/2010/files/Obviously-Extended_Medium.woff2?v=1694821317);
  }

  .password-section {
    display: flex;
    min-height: 100vh;
  }

  .password-column {
    width: 50%;
    flex-grow: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .password-slideshow {
    height: 100vh;
    width: 100%;
    display: flex;
  }

  .password-slideshow .password-slide {
    width: 100%;
    height: 100%;
    display: none;
  }

  .password-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .password-column img.password-logo {
    height: auto;
    aspect-ratio: unset;
    width: 480px;
    margin-left: 0;
    z-index: 5;
    position: absolute;
    top: 5%;
    left: 4%;
    object-fit: cover;
    object-position: center center;
  }

  .password-column .password-form {
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    grid-column-start: end;
  }

  .password-column h3 {
    font-size: 1.8em;
    font-family: 'Obviously-Extended Bold';
    text-transform: uppercase;
    line-height: 40px;
    word-break: break-word;
    padding: 0;
  }

  .password-countdown {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .password-countdown > div {
    display: flex;
    flex-direction: column;
  }

  .password-countdown .countdown-number,
  .password-countdown .countdown__colon {
    font-size: 1.8rem;
    font-family: 'Obviously-Extended Bold';
    font-weight: 800;
    font-style: normal;
    color: #000;
  }

  .password-countdown .countdown-label {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1em;
    font-family: 'Obviously-Extended Medium';
    font-weight: 400;
  }

  .ps__subscribe-form {
    padding: 10px 0;
  }

  .mySlides {
    display: none;
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .password-section {
      flex-direction: column;
    }

    .password-section .password-column {
      width: 100%;
    }

    .password-slideshow {
      height: 440px;
    }

    .password-column .password-form {
      padding: 15px;
    }

    .password-column img.password-logo {
      width: 265px;
    }

    .password-column h3 {
      font-size: 1.2em;
    }

    .password-countdown .countdown-number,
    .password-countdown .countdown__colon {
      font-size: 18px;
    }

    .password-countdown .countdown-label {
      font-size: 10px;
    }
  }
  .page-width {
    padding: 0 0em;
  }

  .kdfeUf {
    color: rgb(249 190 219) !important;
    background-color: rgb(0, 0, 0) !important;
    line-height: 12px !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-family: 'Roboto Mono' !important;
    text-decoration: none !important;
    text-align: center !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
  }

  .bsVwRg .smsb-subscribe-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto !important;
  }

  .bTIZVv > div[type='button'] {
    padding: 20px 20px 20px 20px;
    appearance: unset;
  }

  .hkFuue {
    max-width: 100% !important;
    width: 100% !important;
    padding: 10px;
    border-radius: 0;
  }

  .hkFuue .cw-form-control {
    height: auto !important;
    width: 100%;
    padding: 20px !important;
  }

  .jyJcbB {
    text-transform: uppercase !important;
  }
</style>
<script>
  function myScript() {
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName('password-slide');
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = 'none';
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      // for (i = 0; i < dots.length; i++) {
      //     dots[i].className = dots[i].className.replace(" active", "");
      // }
      slides[slideIndex - 1].style.display = 'block';
      // dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
    window.smsBumpSubscribe ||= function (phone, email, source, acceptsMarketing = true, emailConsent = true) {
      var smsbump_request = {
        form_id: 245011,
        phone: phone.trim(),
        email,
        accepts_marketing: acceptsMarketing,
        email_consent: emailConsent,
        source,
      };

      if (source) {
        smsbump_request.source = source;
      }

      if (smsbump_request.phone.length) {
        var smsbXhr = new XMLHttpRequest();
        smsbXhr.open('POST', 'https://api.smsbump.com/v2/formsPublic/subscribe');
        smsbXhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        smsbXhr.setRequestHeader('X-SMSBump-Platform', 'shopify');
        smsbXhr.onload = function () {
          if (smsbXhr.status === 200) {
            console.log('smsbump subscribe');
          } else if (smsbXhr.status !== 200) {
            console.log('smsbump error');
          }
        };
        var query = encodeURI(
          'form_id=' +
            smsbump_request.form_id +
            '&phone=' +
            smsbump_request.phone +
            '&accepts_marketing=' +
            smsbump_request.accepts_marketing +
            '&email=' +
            smsbump_request.email +
            '&email_consent=' +
            smsbump_request.email_consent
        );

        if (smsbump_request.source) {
          query += '&source=' + smsbump_request.source;
        }

        smsbXhr.send(query);
      }
    };
  }
  window.addEventListener('DOMContentLoaded', () => {
    myScript();
  });
</script>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "main-password",
  "blocks": [
    {
      "name": "Slide Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Slide Image"
        }
      ]
    }
  ]
}
{% endschema %}
